.alt-header {
  padding: var(--horizontal-space);
  padding-top: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
}

.alt-header__column {
  width: 33%;
}

.alt-header__title {
  font-size: 30px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}

.main-screen__alt-upper {
  padding: 0px var(--horizontal-space);
  margin-top: 110px;
}

.main-screen__alt-lower {
  padding: 0px var(--horizontal-space);
  margin-bottom: 90px;
}
